
/* Target card-title inside card-services */
.card-services .card-title {
    margin: 0;
}

/* Target a inside card-services */
.card-services a {
    display: block;
    padding: calc(var(--root-element-padding) * 2);
    background-color: var(--color-light-grey);
}

/* Hover state for a inside card-services */
.card-services a:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    text-decoration: none;
}
